@font-face {
	font-family: 'Open Sans';
	src: url('open-sans-300.woff') format('woff');
	font-style: normal;
	font-weight: 300;
}

@font-face {
    font-family: 'Share Tech Mono';
    src: url('share-tech-400.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

html, body {
    width : 100vw;
    height : 100vh;
    padding : 0;
    margin : 0;
    background-color: #000011;
    color : #CCEEFF;
    overflow : hidden;
    font : 16px "Open Sans", sans-serif;

    user-select: none;
}

.layout {
    display : grid;
    width : 100vw;
    height : 100vh;
    /*
    grid-template-columns: auto 100vmin auto;
    grid-template-rows: 5vmin 95vmin auto;
    */
    grid-template-columns: 0 auto 0;
    grid-template-rows: 5vmin auto 0;
    grid-template-areas:
        "header header header"
        "left-panel center right-panel"
        "footer footer footer";
}

.header {
    grid-area : header;
    position: relative;
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.main-container {
    grid-area : center;
    position: relative;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.debug {
    position : absolute;
    left : 0;
    top : 0;
    width : 100%;
    height : 100%;
    pointer-events: none;
    z-index: 100;
    white-space: pre;
    overflow : hidden;
}

#loader {
    position : absolute;
    left : 0;
    top : 0;
    width : 100%;
    height : 100%;
    pointer-events: none;
    z-index: 100;
    overflow : hidden;
}

#loader div {
    white-space: pre;
}

.hidden {
    display : none !important;
}

.letters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3vmin 0;
    transition: opacity 0.5s;
}

.letters.ended {
    opacity: 0.2;
}

.sequence {
    font : 7vmin "Share Tech Mono";
    word-wrap: break-word;
    max-width: 80vmin;
}

.player1 .letter {
    background: #001122;
}

.player1 .letter:hover {
    background: #001133;
}

.player2 .letter {
    background: #110022;
}

.player2 .letter:hover {
    background: #110033;
}

.letter {
    cursor: pointer;
    width : 16vmin;
    height : 16vmin;
    font-size: 14vmin;
    padding : 1vmin;
    margin : 1vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s background-color;
}

.letter.disabled {
    cursor: default;
    background: #000011;
}

.letter.disabled:hover {
    background: #000011;
}

.repeat {
    color : red;
}

.next {
    color : #44CCFF;
}

.button {
    padding : 1vmin;
    margin : 0 2vmin;
    font-size: 3vmin;
    background-color: #000022;
    transition: 0.2s background-color;
    cursor: pointer;
}

.button:hover {
    background-color: #000033;
}

.button.active {
    cursor: default;
    background-color: #000055;
}

.button.active:hover {
    background-color: #000055;
}

.player {
    font-size: 4vmin;
    white-space: pre;
    text-align : center;
    padding-top : 5vmin;
    height : 10vmin;
}

.dialog-holder {
    position: absolute;
    left : 0;
    top : 0;
    width : 100vw;
    height : 100vh;
    background-color: #000000DD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog {
    display: flex;
    flex-direction: column;
    background-color: #000011;
}

.dialog-title {
    text-align: center;
    font-size: 5vmin;
    padding : 1vmin;
}

.dialog-line {
    display : flex;
    align-items: center;
    padding : 1vmin;
}

.dialog-line.centered {
    justify-content: center;
}

.dialog-line.padded {
    padding-top : 5vmin;
}

.dialog-line.unpadded {
    margin-top : -2vmin;
}

.dialog-caption {
    font-size: 3vmin;
    width : 30vmin;
    padding : 1vmin;
    text-align:right;
}

.dialog-input {
    font-size: 3vmin;
    width : 30vmin;
    padding : 1vmin;
    background-color: #000022;
    border : none;
    color : #CCEEFF;
}